.header__inner {
    width: 1512px;
    height: 100px;
    /*gap: 0px;
    opacity: 0px;*/
    margin: 0 auto;
    padding: 20px 15px;
    border: 1px solid #E0DFDE
}
.header__logo {

    text-align: center;
    color:  #8B7969;
    font-family: Inika;
    font-size: 40px;
    align-items: center;
    font-weight: 500;
   
    


}