.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    width: 1512px;
}
.confirm__heading {
   
    font-family: Inika;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.61px;
    text-align: center;
    color:  #8B7969;
}
.form {
    margin: 0 auto;
    width: 70%;
}

       
        
.confirm-table__inner {
        width: 972px;
        height: 606px;
        
        
        border: 1px solid #E0DFDE
}

.confirm-table__header {
        width: 30%;
        
        border-bottom: #E0DFDE;
        background: #8B7969;
        color: #fff;
        text-align: left;
        align-items: center;
        padding: 10px;
        opacity: 0px;
} 
.confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid #E0DFDE;
}
.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
}
.form__item {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.tel_number {
  font-size: 13px;
}

.form__button {
    margin-bottom: 30px;
    text-align: center;
}
.form__button-submit {
    width: 120px;
        height:42px;
        top: 903px;
        left: 696px;
        padding: 10px 40px 10px 40px;
        gap: 10px;
        opacity: 0px;
        background: #82756A;
        color: #fff;
        cursor: pointer;
        border: none;
}
.link {
    padding: 10px 40px 10px 40px;
}
.link__label {
        width: 40px;
            height: 24px;
            
            gap: 0px;
            opacity: 0px;
            font-family: Inika;
             font-size: 13px;
            font-weight: 400;
            line-height: 26.06px;
            align-items: baseline;
            color: #8B7969;;
            margin-left: 20px;
}
