.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}
.contact-form__heading {
    text-align: center;
    font-family: Inika;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.61px;
    color: #8B7969;
    
}
.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}
.form__group {

    
    display: flex;
    
    margin-bottom: 15px;
} 
    .form__group-content {
        
        margin-left: 40px;
        
        

    }

.form__label--required {
    color: #ff0000;
}.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}
.select {
    margin-left: 50px;
}
.form__input--textarea {
    width: 100%;
}
.form__input-text {
    width: 70%;
}
.form__input-text input {
    width: 100%;
}