.thanks__content {
    width: 1512px;
    height: 982px;
    text-align: center;
    gap: 0px;
    opacity: 0px;
    justify-content: center;
    align-items: center;

}
.thanks__text{
    width: 510px;
    height: 39px;
    
    gap: 0px;
    opacity: 0px;
    font-family: Inika;
    font-size: 30px;
    font-weight: 700;
    line-height: 39.09px;
    
    color: #8B7969;
}
.back__inner {
    width: 1381px;
    height: 365px;
    
    gap: 0px;
    opacity: 0px;
    font-family: Inika;
    font-size: 280px;
    font-weight: 400;
    line-height: 364.84px;
    text-align: center;
    color:  #8B79690D;

}
.form__button {
    width: 140px;
        height: 46px;
        
        padding: 10px 40px 10px 40px;
        gap: 10px;
        opacity: 0px;
        text-align: center;
}
.form__button-submit {
        color: #fff;
       background: rgba(130, 117, 106, 1);
       border: none;


}
